<!-- <div class="absolute top-0 left-0 right-0 bottom-0 bg-slate-900">
  <div class="flex w-full h-full items-center justify-center text-slate-100">
    <p class="font-mono text-2xl font-black">250TechLab</p><br/> 
    <p class="font-mono text-sm font-thin">innovate</p>
  </div>
</div> -->
<div class="body">
  <div class="logo">
      <div>
          <span class="material-symbols-outlined">
              lightbulb
          </span>
      </div>
      <div class="c-250">
          250
      </div>
      <div class="tech">
          Tech
      </div>
      <div class="lab">
          Lab
      </div>
  </div>
  <div class="services">
    <div>
      Software Project Management
    </div>
    <div>
      Software Development
    </div>
    <div>
      UI/UX Design
    </div>
    <div>
      AI & Machine Learning
    </div>
    <div>
      Consultancy
    </div>
  </div>
</div>